@charset "utf-8";
body {
    background-color: #eae6df;
    margin:0px;
    padding:0px;
}
ul{
    list-style:none ;
}
a{
    text-decoration:none;
}
nav{
    display:flex;
    justify-content:space-between;
    height: 70px;
    padding:5px 5% 0% 5%;
    /* background-image: url(../UASHAHA/image/satu.png); */
}
nav ul{
    display:flex;
}
nav ul li a{
    padding:3px 3px;
    margin:15px;
    font-family:calibri;
    color:whitesmoke;
    font-size:20px;
    letter-spacing:1px;
}
nav ul li a:hover{
    background-color: #d4c8be;
    color: #555 !important;
    font-weight: 700;
    transition: all ease 0.4s;
}
.logo{
    height: 55px;
}
.nav-active{
    font-weight:550;
    color: whitesmoke;
}
.box-container{
    height:225px;
    align-items: center;
    text-align: center;
}
div.galleryshopnow{
    float: left;
    width: 421px;
}
div.galleryshopnow img{
    width: 100%;
    height: 225px;
    cursor:default;
}
  /* Category text */
  .category {
    color: #f2f2f2;
    font-size: 40px;
    padding: 0px 10px;
    top: 0;
    font-family: Poppins;
    text-align: right;
    transform: translateY(-375%);
    font-weight: 550;
}
/* Shop Now Button */
.shopnow-btn{
    transform: translateY(-350%);
    font-size: 20px;
    font-family: Poppins;
    background-color: #b8926a;
    border: none;
    color: #f2f2f2;
    width: 40%;
    cursor: pointer;
    letter-spacing: 1px;
}
.product{
    height:400px;
    align-items: center;
    text-align: center;
}
.product-text p:nth-child(1){
    font-family: Poppins;
    color:#3e3d3d;
    font-size: 20px;
    line-height: 0px;
    text-align: left;
    padding-left: 7%;
}
.product-text p:nth-child(2){
    font-family: Poppins;
    font-weight: 580;
    color:#3e3d3d;
    font-size: 35px;
    line-height: 0px;
    text-align: left;
    padding-left: 7%;
}
.product-text p:nth-child(3){
    font-family: Poppins;
    font-weight:510;
    color:#3e3d3d;
    font-size: 20px;
    line-height: 0px;
    padding-left: 60%;
    padding-bottom: 5%;
    cursor: pointer;
}
div.galleryproduct{
    float: left;
    width: 230px;
    margin-bottom: 5%;
    margin-left: 11%;
    border: 1px solid #b8926a;
    background-color: #d4c8be;
    border-radius:5%;
}
div.galleryproduct img{
    width: 100%;
    height: 225px;
}
* {
    box-sizing: border-box;
  }
  
  /* Create three equal columns that floats next to each other */
  .column {
    float: left;
    width: 33.33%;
    padding: 5px;
    height: 180px; /* Should be removed. Only for demonstration */
    align-items: center;
    text-align: center;
    color: #f2f2f2;
  }
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
.foto-container{
    align-items: center;
    text-align: center;
}
div.foto-foto{
    float: left;
    width: 571px;
    margin-bottom: 5%;
    margin-left: 3%;
    margin-top: 5%;
    background-color: #d4c8be;
}
div.foto-foto img{
    width: 100%;
    height: 300px;
}